<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Platform.Addins.T0001.DataInput" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Platform.Addins.T0001.Output" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Platform.Addins.T0001.Input" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Platform.Addins.T0001.DataBus" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Platform.Addins.T0001.data" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Platform.Addins.T0001.DataInput" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Platform.Addins.T0001.DataInput>
            <setting name="other" serializeAs="String">
                <value>123</value>
            </setting>
        </Platform.Addins.T0001.DataInput>
        <Platform.Addins.T0001.Output>
            <setting name="Output_A" serializeAs="String">
                <value />
            </setting>
            <setting name="Output_B" serializeAs="String">
                <value />
            </setting>
            <setting name="Output_C" serializeAs="String">
                <value />
            </setting>
            <setting name="Output_D" serializeAs="String">
                <value />
            </setting>
            <setting name="Output_E" serializeAs="String">
                <value />
            </setting>
        </Platform.Addins.T0001.Output>
        <Platform.Addins.T0001.Input>
            <setting name="Input_A" serializeAs="String">
                <value />
            </setting>
            <setting name="Input_B" serializeAs="String">
                <value />
            </setting>
            <setting name="Input_C" serializeAs="String">
                <value />
            </setting>
        </Platform.Addins.T0001.Input>
        <Platform.Addins.T0001.DataBus>
            <setting name="A" serializeAs="String">
                <value />
            </setting>
            <setting name="B" serializeAs="String">
                <value />
            </setting>
            <setting name="C" serializeAs="String">
                <value />
            </setting>
        </Platform.Addins.T0001.DataBus>
        <Platform.Addins.T0001.data>
            <setting name="A" serializeAs="String">
                <value />
            </setting>
            <setting name="B" serializeAs="String">
                <value />
            </setting>
            <setting name="C" serializeAs="String">
                <value />
            </setting>
        </Platform.Addins.T0001.data>
    </userSettings>
    <applicationSettings>
        <Platform.Addins.T0001.DataInput>
            <setting name="Input_A" serializeAs="String">
                <value>ui:cbb_1</value>
            </setting>
            <setting name="Input_B" serializeAs="String">
                <value>ui:cbb_2</value>
            </setting>
            <setting name="Input_C" serializeAs="String">
                <value>bus:A</value>
            </setting>
            <setting name="Input_D" serializeAs="String">
                <value>bus:B</value>
            </setting>
        </Platform.Addins.T0001.DataInput>
    </applicationSettings>
</configuration>