<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--是否采用调试模式，不更新交易-->
  <add key="IsDebugMode" value="True"/>
  <add key="PlatformTitle" value="综合业务前端系统"/>
  <!--是否启用权限控制-->
  <add key="IsPowerCheckByUser" value="False"/>
  <!--交易目录-->
  <add key="PagesDirectory" value="Pages"/>
  <!--是否启用客户端更新-->
  <add key="IsUpdateCheckForClient" value="False"/>
</configuration>